# Ignore node_modules
node_modules/

# Ignore log files
*.log

# Ignore temporary files
*.tmp

# Ignore compiled Python files
*.pyc

# Ignore IDE-specific files
.vscode/
.idea/

# Ignore OS-specific files
.DS_Store  # macOS
Thumbs.db  # Windows
